:root {
 --text: #081c1a;
  --background: #ecf9f8;
  --primary: #237168;
  --secondary: #85acdb;
  --accent: #304d9c;
}
body.dark {
--text: #e3f7f5;
  --background: #061312;
  --primary: #8edcd3;
  --secondary: #244b7a;
  --accent: #6380cf;
}


body {
        font-family: poppins;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--background);
        color: var(--text);
        transition: color 0.2s ease,background-color 0.4s ease-in-out;
      }
      button,input{
        cursor: pointer;
      }
      nav button{
        color: var(--text);
      }
      #lottie{
        position: absolute;
        top: 20px;
      }
      #group {
        display: flex;
        flex-wrap: wrap;
      }
      #pass {
        color: var(--background);
        background-color: var(--primary);
        padding: 15px;
        overflow-x: auto;
        width: 300px;
        text-align: center;
        border-radius: 5px;
        transition: box-shadow 0.3s ease,background-color 0.3s ease,color .3s ease;
        height: 30px;
      text-wrap: balance;
      }
      #group span {
        border: 2px solid var(--accent);
        min-width: 40px;
        border-radius: 5px;
        text-align: center;
      }
      #n {
        width: 150px;
      }
      #n[type="range"]{
        -webkit-appearance: none;
        background: transparent;
        outline: none;
      }
      #n[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 12px;
        background: var(--secondary);
        height: 20px;
        margin-top: -2px;
        border-radius:4px;
        cursor: pointer;
        margin-top: -5px;
      }
      #n[type="range"]::-webkit-slider-thumb:hover{
        transform: scale(1.1);
      }
      #n[type="range"]::-webkit-slider-runnable-track{
       background: var(--accent);
        height: 10px;
        border-radius: 5px;
      }
    #checkboxes{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      row-gap: 5px;
      column-gap: 20px;
    }
    #copy{
width: 200px;
height: 50px;
background-color: var(--secondary);
border-radius: 10px;
border: none;
transition: 0.2s ease;
font-family: poppins;
color: var(--text);
    }
    #copy:hover{
background-color: var(--accent);
    }
    #navbar{
display: flex;
justify-content: space-between;
width: 80%;
    }
    #navbar button{
      padding: 10px;
      width: 30px;
border: none;
background-color: transparent;
border-radius: 5px;
cursor: pointer;
    }
    #s-container{
    font-style: italic;
    font-size: 0.8rem;
    }
    #histories{
      position: absolute;
      right: 50px;
      top: 50px;
      background-color:var(--accent);
      padding: 15px;
      border-radius: 5px;
      display: none;
      overflow-y: auto;
      height: 200px;
      gap: 20px;
      flex-direction: column;
      z-index: 9999999;
      transition: color 0.2s ease,background-color 0.4s ease-in-out;
    }
    #histories .box{
      width: 200px;
      overflow-x: auto;
      background-color: var(--secondary);
      border-radius: 5px;
      color: var(--text);
    }
    #histories div{
      display: flex;
    }
    #header{
      display: flex;
      align-items: center;
      text-align: center;
    }
    h1{
      margin-top: 30px;
    }
    #advupcase,#advlowcase,#advnums,#advcharsets{
      display: grid;
      grid-template-columns: repeat(13,1fr);
    }
    @media (max-width:500px){
      #advupcase,#advlowcase,#advnums,#advcharsets{
      display: grid;
      grid-template-columns: repeat(7,1fr);
    }
    }
    @keyframes rotateIcon {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }

    #advcustom{
      text-align: center;
      border-radius: 10px;
      height: 200px;
    }
    #advanced{
      border: none;
      font-family: poppins;
      background-color: transparent;
      transition: tranform 0.2s ease;
      color: var(--text);
    }

    #actions{
      display: flex;
      gap: 10px;
    }
    #retry{
      width: 50px;
height: 50px;
background-color: var(--secondary);
border-radius: 10px;
border: none;
transition:all 0.3s ease;
font-family: poppins;
color: var(--text);
    }
    #retry:hover{
background-color: var(--accent);
    }